{% extends "layout.html" %}
{% block content %}
{% include "header.html" %}

<div>
<main>    
  <!-- Display flash message --> 
  <section class="section--center mdl-grid mdl-grid--no-spacing">   
    <div id="flashmessage" class="flash">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <!-- Timeout flash message -->
      <script>$('#flashmessage').fadeOut(3000);</script>
    </div>
  </section>

  <section>
    <header>   
      <div class="container">
        <div class="row">
          <h3>Important Links</h3>
        </div>
        {% for link in links %}
        <div class="row">
          <a>{{link}}</a>
        </div>
        {% endfor %}
      </div>     
    </header>
  </section>

</main>
</div>

{% endblock %}
